.fun-fact-card {
  background: #cbb79d;
  border: 1px solid #e1ceb6;
  border-radius: 8px;
  padding: 1.5rem;
  margin: -90px auto 0;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.9s ease;
  text-align: center;
  position: relative;
}

.fun-fact-card:first-child {
  margin-top: 1rem;
}

.fun-fact-card:hover {
  transform: translateY(-15px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}